*{
  /* Moves all the elements left side */
  margin: 0  
}

.app{
  background-color: #fafafa; 
}
.app__header{
  background-color: white;
  /* Gives space between logo and the header */
  padding: 20px; 
  border-bottom: 1px solid lightgrey;
  object-fit: contain;
}